<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>go-shadowsocks-local</string>

        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/shadowsocks-local</string>
            <string>-c=/usr/local/etc/go-ss-local/conf.json</string>
        </array>

        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>
